<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.fom.simplexui">

    <application
        android:allowBackup="true"
        android:icon="@drawable/simplex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/simplex"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimplexUi">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SimplexUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>